/*HOME PAGE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Righteous', cursive;
}

:root {
  --bg-color: #f9f9f9;
  --text-color: black;
  --main-color: #d78100;
  --secondary-color: #02bc08;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);

}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/*HEADER CONTENT*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100 ;
}
.logo {
  position:relative;
  font-size: 2.5rem;
  color:var(--secondary-color);
  font-weight: 600;
  cursor: default;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  -moz-text-decoration-color: var(--secondary-color);
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover {
  color: var(--main-color)
}

.navbar a.active {
  color: var(--secondary-color);
}

#menu-icon {
  font-size: 33.6rem;
  color: var(--secondary-color);
  display: none
}

.home-img {
  min-height: 100vh;
}

