/*HOME PAGE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}
body {
  color: #f9f9f9; /*Page Text Color*/
}

/*HEADER CONTENT*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20 ;
}
.logo {
  position:relative;
  font-size: 45px;
  color: #02bc08;
  text-decoration: none;
  font-weight: 550;
  text-decoration: underline;
  text-decoration-color: #02bc08;
  -moz-text-decoration-color: #02bc08;
}
.logo::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: .4s;
}
.navbar a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.navbar a:hover {
  color: #02bc08;
}
.navbar a.active {
  color: #d78100;
}

/*HOME CONTENT*/

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: #F9F9F9;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  z-index: 20;
  color: #d78100;
}
.home-content h1::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #02bc08;
  z-index: 20;
}
.home-content h3::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}
.home-content p {
  position: relative;
  font-size: 16px;
  color: black;
  margin: 20px 0 40px;
  z-index: 20;
}
.home-content p::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}
.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.home-content .btn-box::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 20;
}
.background-layer {
  position:fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/STOCK/homeBackgroundFinal.png') no-repeat center center / cover;
  display: flex;
  transition: 4s;
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
}
.background-layer:hover {
  opacity: .3;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.background-layer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease ease-in-out;
  -webkit-animation: showRight 1s ease ease-in-out;
}
.home-imgHover {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  animation-delay: 4s;
  pointer-events: none;
}
.home-imgHover::after {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: -10;
}

/*Homepage Buttons Main Content*/

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background:#d78100;
  border: 2px solid #d78100;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 19px;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.btn-box a:hover {
  color: #d78100;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #d78100;
}

.btn-box a:nth-child(2):hover {
  color: #F9F9F9;
}


.btn-box a:nth-child(2)::before {
  background-color: #d78100;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #F9F9F9;
  z-index: -1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.btn-box a:hover::before {
  width: 100%;
}

/*SOCIALS*/

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #F9F9F9;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #d78100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
  color: #d78100;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.home-sci a:hover {
  color: #F9F9F9;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #d78100;
  z-index: -1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/*KEY FRAMES*/
@keyframes showRight {
  100% {
    width: 0;
  }
}


